[2019-09-27 09:43] raffis opened #45 "Unexpected argument 'multi_initiator'"
I'm trying to get the csi  hpe provisioning working but end up with the error `Unexpected argument 'multi_initiator'`.

Nimble:  5.0.7.300-644174-opt

csi-provisioner:
[code]

csp-service:
[code]

storage class:
[code]

[2019-09-27 10:14] raffis commented on #45
It does work with csp v1.0.0-beta (https://github.com/hpe-storage/co-deployments/pull/51).
Is multi_initiator an argument for some alpha version of the nimble api?
Anyway the kube specs in master should point to stable or at least beta tags.

[2019-09-30 16:56] rgcostea commented on #45
@raffis - This is a bug on our end.  We have done minimal testing with FC arrays.  We will fix it within the CSP implementation.  Thanks for pointing this out.

[2019-09-30 21:04] #45 closed

[2019-10-21 14:26] Logibox opened #50 "How to use with segregated Data networks?"
At the moment I can't input any information about the network topology and the driver will select a iSCSI discovery address which is not accessible to the nodes. The API in https://github.com/hpe-storage/container-storage-provider seems to have no provision for this workflow (also I can't find the source for the csp service, is it under a different license?)

[2019-10-21 14:29] Logibox opened #51 "The `hpe-csi-node` DaemonSet is way too invasive and does not work on RHEL/CentOS/Fedora Atomic."
RHEL/CentOS/Fedora Atomic has a immutable filesystem so you can't inject systemd units or install packages. Why isn't `iscsid` and `multipathd` provided by the container?

[2019-10-21 14:32] Logibox opened #52 "Specifying volume parameters at the PVC"
I would like to specify volume parameter when creating a PVC, rather that having an array of different StorageClasses. It's not clear from the docs whether this is possible.

[2019-10-21 14:33] Logibox opened #53 "HPENodeInfo's not updated if the initiator name is changed"

[2019-10-21 15:27] suneeth51 commented on #52
We have "allowOverride" parameter in the storage class. With this, you can override the volume parameters in the PVC spec.

Please refer to "Test and verify Persistent Volume Claim overrides" in https://github.com/hpe-storage/csi-driver/blob/master/USING.md for more details/examples.

[2019-10-21 15:42] rgcostea commented on #50
The hpenodeinfo object captures all of the networks on the host.  These networks are then passed to the CSP implementation.  That CSP will then report the discovery IP to use when the volume is published.  The CSP will only report a discovery IP that matches the given networks.  So it "should" be discoverable.  Are you saying you have a network topology where the networks match but the discovery I

[2019-10-21 15:43] rgcostea commented on #53
If you redeploy the daemonset (CSI node service), the hpenodeinfo will be updated.

[2019-10-21 15:52] Logibox commented on #50
Ah ok, maybe that mechanism isn't working as expected then - here's some output from my system:
[code]

From the hpe-csi-driver running on `storex-k8s-2`, seems to be trying to connect `10.20.0.120` which is on another VLAN that isn't accessible to the node.
[code]

[2019-10-21 15:55] rgcostea commented on #50
That looks like a bug.  Could you look at the nimble-csp logs too see what the publish action is doing?  The log message should start with

Thanks.

[2019-10-21 15:56] Logibox commented on #50
Also the `10.233.x.x' networks are internal to the kubernetes cluster - probably shouldn't be in the `HPENodeInfo`?

[2019-10-21 16:16] Logibox commented on #50
From `nimble-csp.log`:
[code]

[2019-10-21 16:18] rgcostea commented on #50
Could you just attach the full log please?

[2019-10-21 16:18] Logibox commented on #52
Ah just what I'm looking for! Thanks

[2019-10-21 16:26] Logibox commented on #50
https://gist.github.com/Logibox/dce533445edb207b39f88089695e9492

[2019-10-21 16:43] rgcostea commented on #50
Thanks.  So it looks like you truly don't have any matching networks.  Your array has the following data networks:
- 16.24.160.0
- 10.20.0.0
- 172.17.13.0

And your host provides the following networks:
- 127.0.0.0
- 16.26.128.0
- 16.26.128.0
- 172.17.0.0
- 10.233.42.123
- 10.233.65.0
- 10.233.65.0

Because there is no match, the CSP will just pick a random discovery IP from the array.  It picked

[2019-10-21 16:54] Logibox commented on #50
I think the plugins is making some assumptions about my network topology -  as `16.24.160.0` and `172.17.13.0` are accessible to my kubenetes nodes. I would be nice if could override this manually.

[2019-10-21 16:56] rgcostea commented on #50
Agreed.  We can make that configurable.  For now, the driver is following our best practices.  Without a matching network, it can't make a good decision as to which discovery IP to report.

[2019-10-21 17:22] #52 closed

[2019-10-22 02:32] tobad357 opened #54 "Using G as a storage unit provision to small volume"
We created a PVC with size 20G and once provisioned we got the following error

[code]

Once we changed the unit to 20Gi it worked as expected

[2019-10-22 03:18] shivamerla commented on #51
@Logibox So far we haven't verified our drivers on Atomic host or CoreOS. In CoreOS both iSCSI and multipath packages are already pre-installed with base image. I believe with RedHat Atomic Host 7.2.2 both are pre-packaged as well. We will handle these and bypass package installation from our systemd scripts. We will also look into allowing users to control package installation by the driver.

[2019-11-01 14:46] tobad357 opened #63 "Handle unpublish on a volume that has already been unpublished"
If unpublish is called on a volume that is already unpublished the volumeattachment finalizers hangs instead of completes. This case can happen during a hard reboot of a node

Error message
[code]
14:33:50 INFO  [co.ni.hi.cs.v1.ob.VolumeObjectSet]] (executor-thread-168) Executing VolumeObjectSet::actions/unpublish with id 0671136b496958f3f5000000000000000000000092 and options UnpublishOptions [hos

[2019-11-03 04:42] tobad357 opened #64 "Handle empty login token"
Currently if the csi-driver fails a login it will send an empty token to the csp. Which in turn errors out. The csi-driver should probably try to login again until it has a valid token and if it can't login show an appropriate error message

[2019-11-03 05:00] tobad357 opened #65 "Reboot maps volume to /var/lib"
When a node comes back up from a reboot or a hard reset our volumes get mapped to /var/lib volume instead of to the proper multipath volume

[code]

[code]

[code]

Looking at the iscsiadm session shows there is no session for this volume and it seems like the driver then uses /var/lib device

csi driver version
[code]

[2019-11-03 05:49] tobad357 commented on #65
node csi driver logs

[code]

[2019-11-03 12:40] suneeth51 commented on #54
Fixed in the latest beta build.

[2019-11-03 12:40] #54 closed

[2019-11-03 13:18] suneeth51 commented on #64
Created the PR for the fix:
https://github.com/hpe-storage/common-host-libs/pull/76

[2019-11-03 13:49] tobad357 commented on #65
One interesting thing is that the device ```Pathname:dm-11``` doesn't exist on the server and neither does ```/dev/mapper/mpathm```

[2019-11-04 16:13] suneeth51 commented on #64
Merged the PR: hpe-storage/common-host-libs#76

[2019-11-04 16:13] #64 closed

[2019-11-05 03:08] tobad357 commented on #65
Close as fixed in #66

[2019-11-05 03:08] #65 closed

[2019-11-05 03:16] tobad357 opened #67 "iscsi session remains on old node when pod migrates during outage"
We have run a scenario where we do the following

1. Reboot node 1 where pod that uses a volume runs
2. While node 1 is down delete the pod
3. Pod gets reschedule to other node but won't come up due to "Multi-Attach error for volume"
    This is due to that the volumeattachment resource still exists

4. Once node comes up volumeattachment gets cleaned up but the iscsi session still stays on the ol

[2019-11-05 03:49] tobad357 opened #68 "Volumeattachment stays on crashed node"
If node1 crashed the volumeattachment will stay there despite pods from node1 trying to start on node2.
The pods will then get a ""Multi-Attach error for volume"" when coming up.
The only way to fix this is to delete the volumeattachment by hand

Expected behavior is to be inline with the in tree iscsi provider which leaves multi attach issues to be handled by Nimble. That way when it comes up it

[2019-11-05 04:23] tobad357 opened #69 "One node restart iscsi sessions reconnect despite no volume attachments"
1. Setup a pod on node1 using a volume
2. Shutdown node1 and delete pod and volumeattachment
3. Startup node1

Now after bootup the iscsi sessions will be reconnected again despite no volumeattachments
This will cause issues if later the pod is trying to come up on another node

[2019-11-05 05:12] tobad357 commented on #68
Potentially one way to solve this would be for the hpe-csi-controller to reconcile volumeatatchments with pods on the node it is pointing to.
if no pod in running, starting etc state exists then the volumeattachment should be dettached
Once node comes back it should remove the volumeattachment

[2019-11-05 14:31] #53 closed

[2019-11-05 14:34] rgcostea commented on #50
I've updated the nimble-csp to report all discovery IPs.  The csi side code needs to be updated to choose the ideal one that will result in successful discovery.  Re-assign to @shivamerla to take that up.

[2019-11-05 15:29] tobad357 commented on #68
I think this may be related to
https://github.com/kubernetes/kubernetes/issues/65392

[2019-11-05 15:42] Logibox commented on #50
As a user I would like the option to be able to select the discovery IP manually. Even if two or more IP addresses are reachable by the host, there still may be a reason that I would prefer one endpoint over another.

[2019-11-05 15:46] tobad357 commented on #67
This is probably same as #69

[2019-11-05 16:13] rgcostea commented on #50
Makes sense.  We can probably handle that via a config map setting passed to the csi driver.

[2019-11-05 18:15] shivamerla commented on #69
node.startup was not updated correctly during iSCSI login, hence on every reboot, iSCSI sessions were automatically logged-in. Fixed this by applying node.startup = manual during node_stage request.

[2019-11-05 18:15] #69 closed

[2019-11-05 18:15] shivamerla commented on #67
closing this one as duplicate of #69

[2019-11-05 18:15] #67 closed

[2019-11-05 20:45] rgcostea commented on #63
#73

[2019-11-05 22:58] #63 closed

[2019-11-14 14:59] pcasis opened #77 "Can't mount volume in a Pod"
Hello,

I finally found time to test the CSI driver 👍 Explanations are clear and examples two, thanx !

However I'm struggling with a problem 😢

I applied all config files for k8s v1.15 (README). ✔️
A volume is well created on the nimble's side after a PVC is applied ✔️

![image](https://user-images.githubusercontent.com/25147189/68867895-de542780-06f6-11ea-81af-adc698c02de0.png)

But the volume c

[2019-11-14 16:21] rgcostea commented on #77
Hi @pcasis , thanks for trying it out.  Is your nimble-csp running the v1.0.0-beta tag?

[2019-11-14 16:26] pcasis commented on #77
Hi,

I used the following config files. I do not see this tag in it.
How can I add this tag ?

Kubernetes 1.15

kubectl create -f https://raw.githubusercontent.com/hpe-storage/co-deployments/master/yaml/csi-driver/nimble-csp.yaml
kubectl create -f https://raw.githubusercontent.com/hpe-storage/co-deployments/master/yaml/csi-driver/hpe-csi-k8s-1.

[2019-11-14 16:30] rgcostea commented on #77
That's great.  Can you run

I'd like to see what discovery_ips were reported by the CSP.  Also, if you could attach the csi-driver and nimble-csp logs, we can debug further.  Thanks.

[2019-11-14 16:34] pcasis commented on #77
Sorry, for previous spam ...

I didn't have the v1.0.0-beta tag.

So I changed it and get the error :

![image](https://user-images.githubusercontent.com/25147189/68876558-f16df400-0704-11ea-9dd5-cf56f5e02ac6.png)

[2019-11-14 16:42] rgcostea commented on #77
Is that the only discovery_ip on the nimble?  Can you ping it from your hosts?

[2019-11-14 17:15] pcasis commented on #77
Hum, yes I think so.

Yes it can. Otherwise, the volume would not be created on the nimble's side

Le jeu. 14 nov. 2019 à 17:42, rgcostea <notifications@github.com> a écrit :

[2019-11-14 19:15] rgcostea commented on #77
So the discovery_ip matches the management_ip?  Can you share the output of ip --list from your array please?

[2019-11-15 01:46] knackaron commented on #50
We'd also like to see this feature added.  It would also help workaround this issue we're seeing: https://github.com/hpe-storage/common-host-libs/issues/77

[2019-11-18 15:41] rgcostea commented on #77
Can you please share the output of "ip --list" on the array along with the nimble-csp and csi-driver logs?  Thank you.

[2019-11-18 16:25] pcasis commented on #77
Seems my issue is really close to this one : https://github.com/hpe-storage/csi-driver/issues/50

As my ISCSI network is used through dedicated interfaces.

[2019-11-19 08:50] pcasis commented on #77
Here are the csi-driver container logs :

[code]

[2019-11-19 12:16] pcasis commented on #77
I restarted the CoreDNS container and it is working now.
Thank for your help

[2019-11-19 13:32] pcasis commented on #77
Ok, well ... it's not working anymore.
Here is another try I've made :

Initial situation :
- 1 PVC, 1 Pod, the volume has been created on the nimble's side and well mounted on the Pod.

So what I've done :

1. Delete the Pod, and recreate the Pod. Data is still here, **it works**.

2. Delete all objects (the volume is deleted on the nimble side) and then recreate the PVC and the Pod . The volume

[2019-11-19 13:40] rgcostea commented on #77
So the nimble-csp responds with the following to the publish request:

  "discovery_ips" : [ "10.142.168.50" ]

Looks like we can't reach that from the host the pod is assigned to.

[2019-11-19 15:27] pcasis commented on #77
All the workers can reach this discovery IP.

My server has two interfaces to connect to the SAN.
How is the driver working ? Does it use always the same network interface ? Is it random ?

[2019-11-20 15:20] #77 closed

[2019-12-03 00:39] shivamerla commented on #50
@knackaron currently we have made a fix to choose a discovery IP which is reachable by host. For Nimble targets, irrespective of any discovery IP used, target returns all mapped targets from all portals during send-targets discovery. This list is used later to perform iSCSI login. Does this solve your original issue? We are wondering what is the added advantage of allowing user to specify a partic

[2019-12-03 02:57] knackaron commented on #50
@shivamerla The changes in https://github.com/hpe-storage/common-host-libs/pull/85 should address all of my use cases.

[2019-12-03 18:41] shivamerla commented on #50
Thanks @knackaron closing this issue.

[2019-12-03 18:41] #50 closed

[2019-12-04 00:24] shivamerla commented on #51
@Logibox we have added env param DISABLE_NODE_CONFORMANCE, when passed to node-plugin it will by-pass node conformance checks. Once we add support for CoreOS/Atomic we will update those YAML/deployment files accordingly.

[2019-12-04 00:24] #51 closed

[2020-02-06 10:19] dns2utf8 opened #107 "fsGroup sometimes works sometimes breaks"
Hi all

I am using this CSI driver to access HPE nimble storage over fiber channel.
Lately I noticed that sometimes the `fsGroup` is not applied to the storage.

Currently, there are three applications on the cluster running on the same node.
1. Gitlab with working fsGroup
2. Gitlab without working fsGroup
3. [mfw](https://gitlab.com/dns2utf8/multi_file_writer) where the fsGroup works in ~30% of d

[2020-02-07 02:22] raunakkumar commented on #107
Hi @dns2utf8 Could you please upload the logs for us to review.
You should be able to collect them using https://github.com/hpe-storage/csi-driver#log-collector
Also, is your issue related to https://github.com/kubernetes/examples/issues/260?

[2020-02-07 10:19] dns2utf8 commented on #107
Hi

Our issue is not related. This setup uses a SAN via FiberChannel and xfs on the LUNs.
The logs from the tree nodes are 1.2GB in total. Uploading them will take a while.

[2020-02-07 11:25] dns2utf8 commented on #107
[Uploaded the logs here](https://gitlab.gyselroth.net/stefan.schindler/hpe-nimble-logs)

[2020-02-07 19:12] raunakkumar commented on #107
Thanks but i am unable to reach https://gitlab.gyselroth.net/stefan.schindler/hpe-nimble-logs.

[2020-02-08 17:32] dns2utf8 commented on #107
There appears to be some sort of configuration error.
Please use the public instance for now: https://gitlab.com/dns2utf8/hpe-nimble-logs

Since I am on a different project for now, I hope @raffis can answer the pvc question.

[2020-02-13 17:36] raunakkumar commented on #107
Hi @dns2utf8 ,
Thanks for the logs. Didn’t find anything suspicious in the logs wrt fsGroup and runAsUser.
Tried some experiments on our cluster and verified that the runAsUser and fsGroup are honored.
Could you please elaborate what you meant by 30% of the case worked rest didn’t?
Did the pods never went to Running state or were the fsGroup and runAsUser weren’t honored.
If it's the latter could

[2020-03-11 14:11] shivamerla commented on #107
@dns2utf8 Can you respond to comment above if you are still seeing this issue?

[2020-03-11 14:12] shivamerla commented on #68
@tobad357 closing this issue a this is not specific to our csi driver, but something being worked upon by the community.

[2020-03-11 14:12] #68 closed

[2020-03-16 14:34] dns2utf8 commented on #107
Hi

So the 30% means this: While testing the deployment for the application I deleted the resources every now and then.
Then I realized in roughly 1 of 3 runs the storage would not attach correctly and the software would crash.

[2020-04-02 20:00] pguay opened #135 "hpe-csi-controller cannot resolve nimble-csp-svc"
Hello, i just deployed the Nimble CSI Driver 1.1.0 from the Helm chart to my Kubernetes cluster and i am getting this error in the **hpe-csi-driver containers** :
[code]
I have censored the IP in the log. I am using a valid IP.

When i try to ping any services in my cluster, i have a name resolution problem :
[code]

When i try it on another pod from another deployment, it resolves without problem

[2020-04-02 21:54] drajen commented on #135
Using the `chroot` and `ping` combo will pickup resolv.conf from the host OS, which is not ideal while debugging Kubernetes DNS problems.

What does the following yield on your cluster?
[code]

[2020-04-03 11:24] pguay commented on #135
That's what i get on my cluster :
[code]

[2020-04-07 12:39] lightroomuser commented on #135
Could you post the output of: **for p in $(kubectl get pods --namespace=kube-system -l k8s-app=kube-dns -o name); do kubectl logs --namespace=kube-system $p; done** and

**for i in `kubectl -n kube-system get pods -l k8s-app=kube-dns -o
name`; do echo $i $(kubectl -n kube-system logs $i | grep -c
SERVFAIL); done;** as well as:

**kubectl get ep kube-dns --namespace=kube-system**

[2020-04-08 13:01] pguay commented on #135
First output :
[code]
Second output :
[code]

Third output :
[code]

[2020-04-24 14:55] shivamerla commented on #135
@pguay seems like you have resolved this issue with network changes at hypervisor(xen). As this is not specific to our CSI driver, can you close this one? If you are still facing this error, let us know.

[2020-04-24 15:16] #135 closed

[2020-05-29 04:22] inductor opened #177 "Please add instruction to change the default StorageClass optionally"
Especially for those who are not familiar with system side yaml configs, like app developers or infra people who prefer managed k8s clusters, this CSI driver is one of the components they do not really care even though it is necessary.
So the cluster operation people may have to execute `kubectl patch storageclass default -p '{"metadata": {"annotations":{"storageclass.kubernetes.io/is-default-clas

[2020-06-01 14:47] drajen commented on #177
@inductor thanks for filing this issue. Both the Helm chart and Operator is clearly documented if you want to mark the `StorageClass` default. We talk about in storage classes in a lot of places and explaining how to patch the storageclass everywhere we do that wouldn't make much sense since this is a generic Kubernetes things. Do you have any idea where it would make sense to you where we should'

[2020-06-16 16:32] mzervakis opened #185 "CSI driver fails to provision volume"
Hi,

I created a vanilla Kubernetes cluster and deployed the CSI driver using the advanced procedure described at https://scod.hpedev.io/csi_driver/deployment.html#advanced_install.

CSI Pods were successfully deployed
[code]
Storage Class
[code]

I created a Persistent Volume Claim
[code]

But the CSI driver fails to create the volume
[code]

[2020-06-16 16:56] shivamerla commented on #185
@mzervakis can you check coredns logs to see if its receiving requests to resolve service names? Also, can you try using using the csp service cluster IP directly in the secret as serviceName, rather than name to see if it resolves it?

Can you also provide the version of CSI driver you are using?

[2020-06-16 17:21] shivamerla commented on #177
@inductor closing this due to inactivity and last response by @datamattsson. Please re-open if you still feel this needs to be addressed.

[2020-06-16 17:21] #177 closed

[2020-06-16 19:26] mzervakis commented on #185
@shivamerla
Cluster DNS seems to work
[code]

I couldn't find out what's wrong with serviceName, so I patched the secret with Cluster IP and the CSI created the volume
[code]

[2020-08-26 05:38] fideltak commented on #185
I faced similar issue.
- hpe-storage driver: 1.2.1
- kubernetes: v1.17.3

[code]

hpe-csi-controller seems to attach node network interface with ClusterFirstWithHostNet.
This was root issue for my case.
Im using flannel as CNI, and the mode is vxlan.
Flannel seems to have issue about ClusterFirstWithHostNet when using mode vxlan.
I changed the mode to host-gw in accordance with [here](https://gith

[2020-08-27 23:50] shivamerla commented on #185
@fideltak Thanks for reporting this. We have seen this with multiple CNI's now using vxlan mode. Good to know that its resolved with workaround. Our controller plugin doesn't need hostNetwork, but node plugin does, so we will end up with this anyway.

[2020-09-01 01:31] ElisaMeng opened #208 "Unable to mount PV into pod with iscsi access"
I have a 8200 setup with iscsi card, deploy CSI go ok, but when try to  provision a volume to make a simple test, I get this error:

[code]

[2020-09-01 02:04] ElisaMeng commented on #208
The kubectl pod reports like this:
[code]

[2020-09-01 08:39] ElisaMeng commented on #208
I try it, look a little difference, but more or less the same.

[code]

[2020-09-01 18:05] wdurairaj commented on #208
@ElisaMeng , can you confirm on few details..

1. How was the build deployed.. are you using helm charts 1.3.0-beta -- https://github.com/hpe-storage/co-deployments/blob/master/docs/hpe-csi-driver-1.3.0-beta.tgz ?

If you are using the CSI driver version 1.3.0-beta then the 3PAR/Primera CSP should be at 1.1.0-beta ?

2. Would it be possible to give more information on the environment (like plain k

[2020-09-02 22:35] ElisaMeng commented on #208
@wdurairaj Thanks a lot for suggestions, I just deploy with the helm chart, which I believe it is 1.2.0.  However, I think I have figure out the problem.

After tuning, my /etc/multipath.conf look like this:

[code]

The empty defaults section cause the problem.

[2020-09-02 22:35] #208 closed

[2020-09-03 06:52] hangees opened #209 "csi driver unable to attach multi-volumes at the same time"
Hi,

my csi-driver are deployed successfully

[code]
storageclass
[code]
When I create one pvc using this storageclass，then mount the pvc onto a pod，it works.
But when I create two or more pvcs in the same way, mount them, it doesn't work.

pvc & pv bound successfully

here are some logs:

pod events :

[code]

hpe-csi-driver logs:

[code]

[2020-09-03 08:46] wdurairaj commented on #209
@hangees , can you collect the CSP logs of this pod primera3par-csp-6c65cbfcc-mt5p6 and attach here ?

The logs (if it's a plain k8s setup), it will be written on the node where the above pod (part of csp deployment) in `/var/log
/hpe-3par-primera-csp.log`

Alternatively, you could file a support case also for this problem you are observing..
Please mention the
1. Environment details
2. Collect th

[2020-09-03 09:47] hangees commented on #209
@wdurairaj  Thanks for helping me

Because of the old logs was so big，i reappeared this bug.

I create 5 pods with pv created by hpe-csi storageclass，these files are the logs related.

[hpe-3par-primera-csp.log](https://github.com/hpe-storage/csi-driver/files/5167640/hpe-3par-primera-csp.log)
[hpe-csi-controller.log](https://github.com/hpe-storage/csi-driver/files/5167641/hpe-csi-controller.log)
[

[2020-09-03 15:28] wdurairaj commented on #209
I see at multiple places in the CSP rest call to the array, "system is busy" message

[code]

[2020-09-03 23:42] hangees commented on #209
it is a 3par 8200. It is almost idle, nobody else is using it. How many volumes can such a system provision per minute?

[2020-09-04 04:02] wdurairaj commented on #209
Log lines
[code]
there was a failure in processing REST call from the CSP pod to array during that moment of time. Please raise  3PAR support folks to understand why it happens (or) it could be a networking problem at your end.

[2020-09-04 06:32] hangees commented on #209
Now we have the only problem that we can't create multiple pv at the same time.

i create 5 pvs by pvc used storageclass：
[code]

![image](https://user-images.githubusercontent.com/70685549/92206946-e9ad5500-eeba-11ea-9531-e48612cec1b6.png)

when i used these pvs, something went wrong:
[code]

However, It is normal to create only one pv at the same time.

[2020-11-12 17:24] raunakkumar commented on #107
Hi @dns2utf8 do you still face the issue with `fsGroup`. Is the behavior same without `fsGroup` ?

[2020-11-15 17:49] sw34 opened #224 "failed to mount a PVC on Nimble"
In a Rancher 2,5.2 environment I created a new cluster and installed and configured the csi driver per the instructions using the version 1.3.0 of the app (ver 1.3.1 failed with a yaml error)

Nimble OS 5.2.1.400

this is my storageClass

[code]

To test I created a PVC using the following:
[code]

and a Pod using:

[code]

all basically taken from the SCOD install instructions.

The POD initially

[2020-11-15 22:50] suneeth51 commented on #224
@sw34 Thanks for reporting this. Could you please share a few more details like CSI Node Plugin logs `/var/log/hpe-csi-node.log` (From Node on which Pod Mount is failing) ?

[2020-11-15 23:08] sw34 commented on #224
logs as requested, let me know if you need anything else

[hpe-csi-node.log](https://github.com/hpe-storage/csi-driver/files/5543305/hpe-csi-node.log)
[hpe-csi-controller.log](https://github.com/hpe-storage/csi-driver/files/5543306/hpe-csi-controller.log)

[2020-11-16 04:39] wdurairaj commented on #224
@suneeth51 , it seems like invalid credentials in the secret file

[code]

[2020-11-16 04:57] datamattsson commented on #224
In 99% of the cases, this error:
[code]
... indicates that discovery succeeded but multipathd did not create the device entry. The CSI driver *require* multipath, even if you only have one path. I further assume you're running Ubuntu of a recent flavor where `find_multipaths` is set to `yes` by default. Either add more paths to your nodes (highly recommended) or set `find_multipaths` to `no` in th

[2020-11-16 14:30] ctolon22 opened #225 "Extract "Published" field from HPEVolumeInfo"
In our environment, we are using the Retain reclaim policy to keep PVs for a while in case a direct restart is necessary.

We have a golang script to remove Released PVs and the storage from 3 par in a control way. We would like to add a double check that the PV is released (information in the Kubernetes PV object) and is not published by this controller, information that I could recover from hpev

[2020-11-16 18:21] sw34 commented on #224
@datamattsson you are 100% correct!  This is Ubuntu 20.04 and setting ```find_multipaths``` to ```no``` solved this issue.

While it would be better to just add more paths since this is a lightly used cluster running on VM's where the hosts indeed have multiple paths I feel ok with setting it to no.

I am going to close this as its not technically an issue with the csi-driver but it would be nice

[2020-11-16 18:21] #224 closed

[2020-11-19 09:41] jvdbeemt opened #226 "hpe cis driver complaints /sys/class/scsi_device/1:0:0:0/device/vpd_pg80: no such file or directory"

[2020-11-19 10:41] #226 closed

[2020-11-19 10:41] jvdbeemt commented on #226
found a closed issue that resolved my issue.

[2020-12-16 15:46] storm1kk commented on #209
Hello all,

We're having exactly the same issue. Provision time could reach 30 to 40 min. Any advice on it?

[2021-01-07 12:32] yakiyoshi opened #234 "initiator group wasn't created correctly"
**Environment**
- Kubernetes Distribution: OpenShift 4.6
- Storage: Nimble connected with Fiber channell (version: 5.2.1.400-796142-opt)
- HPE CIS Driver: Managed by Operator (version: hpe-csi-operator.v1.3.0)

**Summary**
I detected that WWPN in Initiator Group was wrong with WWPN of Worker Node which was scheduling a Pod.
(I also found Initiator Group Name was defferent from Worker Node Name.)

[2021-01-14 18:06] justin-cohesity opened #235 "Failed to get initiators for host, restarting registration container"
OpenShift 4.6
Worker Nodes: CoreOS
Storage: Nimble (iSCSI)

Installed via the OpenShift Operator Hub

Secret yaml:

apiVersion: v1
kind: Secret
metadata:
  name: hpe-backend
  namespace: hpe-csi-driver
stringData:
  serviceName: nimble-csp-svc
  servicePort: "8080"
  backend: 10.x.x.30
  username: ocpcsi
  password: passwordhere

StorageClass yaml:

apiVersion: storage.k8s.io/v1
kind: StorageClass

[2021-01-14 18:13] raunakkumar commented on #235
Hi @justin-cohesity We have seen this this issue on coreos where the iqn is not set, we have fixed it in 1.4 release of the csi driver by generating the boot iqn during csi driver installation.

Does the following file exist on the worker node ` /etc/iscsi/initiatorname.iscsi ` ? If it does not exist, please try the following snippet on the node.

    if ! [[ -e /etc/iscsi/initiatorname.iscsi ]];

[2021-01-14 18:16] justin-cohesity commented on #235
Correct, /etc/iscsi/initiatorname.iscsi is not there.

Let me created it and see.

Thanks for the quick response.

- Justin

*Justin Willoughby [image: twitter-3-16.png]
<https://twitter.com/cohesity>  [image: linkedin-6-16.png]
<https://www.linkedin.com/company/cohesity>[image: Learn More...]
<http://signatures.cohesity.com/uc/5967a0e9825be975430b3054/c_5f1b54531f9262009bf00dfe/b_5f1b55236b657500

[2021-01-14 19:04] justin-cohesity commented on #235
The csi pods are no longer crash looping after creating

However there still seems to be another issue, have you see this before as
well?

time="2021-01-14T18:58:58Z" level=error msg="process with pid : 153
finished with error = exit status 7" file="cmd.go:60"
time="2021-01-14T18:58:58Z" level=error msg="command iscsiadm failed with
rc=7 err=iscsiadm: Cannot perform discovery. Invalid
Initiatornam

[2021-01-14 19:07] raunakkumar commented on #235
Looks like it does not like the initiator name set
[code]

[2021-01-14 19:16] justin-cohesity commented on #235
Would this be the hpe sci driver that is not setting this correctly? Any
other pods that might need to be restarted?

I see the IQN is correct (iqn.1994-05.com.redhat:64c6762192e) in the
/etc/iscsi/initiatorname.iscsi and it's set as the Initiator IQN within the
Initiator Group on Nimble.

- Justin

*Justin Willoughby [image: twitter-3-16.png]
<https://twitter.com/cohesity>  [image: linkedin-6-16.

[2021-01-14 19:20] datamattsson commented on #235
In your case, this is the correct format of the file:
[code]

[2021-01-14 19:23] datamattsson commented on #235
@raunakkumar if @justin-cohesity pulled this from the marketplace, isn't he running 1.4.0?

[2021-01-14 19:23] justin-cohesity commented on #235
Correct:

cat /etc/iscsi/initiatorname.iscsi
InitiatorName=iqn.1994-05.com.redhat:64c6762192e

So it's unclear why the hpe-csi driver seems to have issues unless there is
something cached from before when the /etc/iscsi/initiatorname.iscsi was
property in place.

I suppose I could try removing and re-deploying the hpe-csi driver, unless
this issue can be resolved a better way.

Thanks!

- Justin

[2021-01-14 19:25] justin-cohesity commented on #235
The OpenShift OperatorHub shows 1.3.0 as being the latest version

[image: 2021-01-14_14-24-23.png]

- Justin

*Justin Willoughby [image: twitter-3-16.png]
<https://twitter.com/cohesity>  [image: linkedin-6-16.png]
<https://www.linkedin.com/company/cohesity>[image: Learn More...]
<http://signatures.cohesity.com/uc/5967a0e9825be975430b3054/c_5f1b54531f9262009bf00dfe/b_5f1b55236b657500e88f1178>*

On

[2021-01-14 21:08] datamattsson commented on #234
Can you check this @raunakkumar?

[2021-01-14 21:09] datamattsson commented on #225
@wdurairaj can you reassign this issue if you're not able to answer this?

[2021-01-14 21:19] justin-cohesity commented on #235
As for my issue with "rc=7 err=iscsiadm: Cannot perform discovery. Invalid
Initiatorname"

This needed to also be done on each worker node: "sudo systemctl restart
iscsid" after the /etc/iscsi/initiatorname.iscsi was created.

- Justin

*Justin Willoughby [image: twitter-3-16.png]
<https://twitter.com/cohesity>  [image: linkedin-6-16.png]
<https://www.linkedin.com/company/cohesity>[image: Learn Mo

[2021-01-14 21:21] raunakkumar commented on #235
oh yes. I should have mentioned in the thread.

[2021-01-14 21:30] raunakkumar commented on #234
Hi @yakiyoshi
Can you also share the output of
```kubectl get hpenodeinfo  openshift-worker-2 -o json```

Looks like node names seems to be interchanged on the host and the initiatorgroup, is this an issue here?
[code]

[2021-01-15 04:45] wdurairaj commented on #225
@ctolon22 , we have a code which contains the CRD struct for hpevolumeinfos. Unfortunately this is not opensource, and we can't share it here.. you can try some other scripted automation to retrieve this flag Published from hpevolumeinfos..

Alternatively, you can look at 3PAR array for the presence of vluns (which means published) and the absence with means unpublished.

`showvlun -v <pv-name> `

[2021-01-15 04:51] wdurairaj commented on #209
Some customer of ours faced this problem and it's related to the volume attacher's bug

https://github.com/kubernetes/kubernetes/pull/91307

[2021-01-15 09:15] ctolon22 commented on #225
Hi, thanks. I finally used Unstructured packge for extracting that field.

I'm closing the issue.

[2021-01-15 09:15] #225 closed

[2021-01-17 17:08] yakiyoshi opened #237 "Failed to pull a container image on quay.io"
OpenShift 4.6
HPE CSI Driver Operator v1.4.0 (via OperatorHub)

Pulling hpestorage container image which is specified HPE CSI Driver Operatorv1.4.0 was failed.

- Operator version

[code]

- HPECSIDriver.yaml
[code]

- Pods status that was created by operator
[code]

- kubernetes Events on the project for hpe csi driver
[code]
All events is bellow.
[oc_get_event.txt](https://github.com/hpe-storage

[2021-01-17 17:12] yakiyoshi commented on #234
I'v already destroy the environment, so I couldn't get the information you shared.
Could you tell me about how to change hpenodeinfo? (I'd like to know that for a feature work)

Acutally, I tried to create new cluster and deploy hpe csi driver.
But hpe csi driver operatoer was updated to v1.4.0 at new cluster and pulling some image was failed.(#237)

[2021-01-17 21:32] raunakkumar commented on #237
Hi @yakiyoshi  Looks like there is a typo in the HPECSIDriver.yaml for the key `registry`.
It looks to be `quey.io` instead of `quay.io`. The official document on operator hub refers to `quay.io`. Did you modify the value?

[2021-01-17 21:45] datamattsson commented on #237
@raunakkumar this reveals the bug that we've forgotten to prefix the CSI sidecars with the `registry` variable.

[2021-01-17 22:33] raunakkumar commented on #237
We have prefixed the side cars with registry prefix for all the hpe images. https://github.com/hpe-storage/co-deployments/blob/14cae90fe95ba6a297275e0d0f206af1da4f957b/helm/charts/hpe-csi-driver/templates/hpe-csi-controller.yaml#L99-L100

[2021-01-18 01:29] yakiyoshi commented on #237
Oops. Sorry for the typo.
Thank you for  pointing that out.

I'v already released ocp cluster and hardwares are sharing with another. I can't use any more.
If no other disscusions, I would like to close this issue.

[2021-01-28 14:58] justin-cohesity opened #240 "HPECSIDriver Conditions: Initialized, ReleaseFailed - failed to install release: clusterroles.rbac.authorization.k8s.io ..."
Operator v1.4
OCP 4.6.9

Pre-created the scc per the install documentation before installing the csi driver

`cat hpe-csi-scc.yaml
---
kind: SecurityContextConstraints
apiVersion: security.openshift.io/v1
metadata:
  name: hpe-csi-scc
allowHostDirVolumePlugin: true
allowHostIPC: true
allowHostNetwork: true
allowHostPID: true
allowHostPorts: true
allowPrivilegeEscalation: true
allowPrivilegedContai

[2021-01-28 15:33] datamattsson commented on #240
That's really strange and particular. Those RBAC permissions are part of the `hpe-csi-volumegroup-role`: https://github.com/hpe-storage/co-deployments/blob/4eaefe31eeb09d9e8a1de3f0c36fbd362a2473a2/helm/charts/hpe-csi-driver/templates/hpe-csi-rbac.yaml#L268

Are you creating the `HPECSIDriver` instance in the "hpe-csi-driver" namespace/project?

cc: @c-snell

[2021-01-28 15:38] justin-cohesity commented on #240
Yes, it is being created in the "hpe-csi-driver" namespace/project.

[2021-01-28 22:10] justin-cohesity commented on #240
I see a few clusterroles missing on the OpenShift cluster for which HPECSIDriver instance is not installing:

On an OCP 4.6 cluster /w working v1.3 HPE CSI driver:
`oc get clusterrole | grep hpe
hpe-csi-attacher-role                                                       2021-01-14T14:40:14Z
hpe-csi-driver-nj6zj-admin                                                  2021-01-14T13:42:27Z
hpe-csi-dri

[2021-01-28 22:14] datamattsson commented on #240
@justin-cohesity sorry to leave you hanging. We've confirmed there's an issue. Hang on.

[2021-01-28 22:20] justin-cohesity commented on #240
Sure, no worries @datamattsson
Thanks for looking into this issue!

[2021-01-30 00:49] datamattsson commented on #240
@justin-cohesity this seems to be the same issue as #237 (not the pull image issue, but the role issue) but we have pushed version 1.4.1 of the operator that has this fixed but we're seeing an issue in our environment pulling 1.4.1 so we need to open a ticket with Red Hat. Please stay tuned as we sort this out. In the meantime you can install 1.4.0 and edit the role manually as per #237

[2021-02-04 00:38] raunakkumar commented on #240
@justin-cohesity, we just got an update from Red Hat that the image publish issue has been fixed. Could you try to install the 1.4.1 of the operator on the cluster and see if it works for you?

[2021-02-08 14:29] sunchill06 opened #242 "kubelet_volume* / persistent volume metrics"
I am trying to get kubelet_volume_* metrics., but don't see any.

Does HPE CSI supports PVC stats for volumes provisioned dynamically?

@raunakkumar, please help if possible.

[2021-02-15 11:17] Baykonur commented on #242
As far as I can see, this was implemented. See [this PR](https://github.com/hpe-storage/csi-driver/pull/219/files) but HPE needs to update its [documentation](https://scod.hpedev.io/search.html?q=metrics) and deployment for helm-chart and other deployment options to annotate the `daemonset` so Prometheus can scrape this.

[2021-02-15 11:31] datamattsson commented on #242
@Baykonur and @sunchill06 this is a feature that will become "available" in the docs in 1.5.0 (along with a few other things). Thank you for your patience.

[2021-02-15 11:37] Baykonur commented on #242
Thanks @datamattsson, any timeline when v1.5 will be available?

[2021-02-15 11:53] datamattsson commented on #242
Don't hold it against me but around May/June. ;-)

[2021-02-16 04:54] sunchill06 commented on #242
Thanks @datamattsson and @Baykonur . Really appreciate your inputs.

[2021-02-16 04:54] #242 closed

[2021-02-18 06:55] Anil-YadavK8s commented on #209
Hello All,

We are facing the same issue with HPE CSI 1.3.0 with HPE backed 3par /Primera.

Any solution to the issue?

Thanks,
Anil

[2021-02-19 21:18] #237 closed

[2021-02-24 22:48] ArrowRaider opened #247 "Driver doesn't work in microk8s"
The following events exist for one of the pods of DaemonSet/hpe-csi-node:
[code]

Any pods that use a PVC get stuck on ContainerCreating.
This is an event that prevents pods from running:
[code]

I am pretty new to Kubernetes, but I know that microk8s uses /var/snap/microk8s/var/lib/kubelet/plugins_registry instead.

[2021-02-24 22:56] raunakkumar commented on #247
@ArrowRaider  It looks like the node plugin doesn't look to be registered with the node-registrar side car.
We would need more info to ascertain what maybe going on here.
You could upload the logs using the log collector utility https://scod.hpedev.io/csi_driver/diagnostics.html#log_collector
Also, we haven't validated our csi driver with microk8s. The list of compatible worker OS can be found at

[2021-02-24 23:24] ArrowRaider commented on #247
As an attempted workaround, I created the following symlinks:
[code]
I stopped microk8s, started microk8s, and I removed the hpe-storage components and then installed them again.

Output of this command follows:  kubectl -n hpe-storage logs hpe-csi-node-4c2s5 hpe-csi-driver
[code]

I am probably going to scrap this and provision a machine with kubeadm instead of using microk8s.  Would that have a

[2021-02-24 23:34] raunakkumar commented on #247
from the error above looks like the device discovery (iscsi login) failed.
Volume Creation happens via REST (http) so volume creation could work fine but volume attachment is via data storage network and the issue seems to be there.

[2021-02-24 23:52] ArrowRaider commented on #247
Here is an image on the SAN
![Screenshot 2021-02-24 185134](https://user-images.githubusercontent.com/56074239/109082141-620a0b80-76d1-11eb-9cc3-a92a9419534c.png)

[2021-02-25 00:06] ArrowRaider commented on #247
[hpe-csi-controller-logs-kube-dev1-20210225_000010.tar.gz](https://github.com/hpe-storage/csi-driver/files/6039588/hpe-csi-controller-logs-kube-dev1-20210225_000010.tar.gz)
[hpe-storage-logs-kube-dev1-20210225_000009.tar.gz](https://github.com/hpe-storage/csi-driver/files/6039589/hpe-storage-logs-kube-dev1-20210225_000009.tar.gz)
[hpe-storage-logs-kube-dev2-20210225_000008.tar.gz](https://github.c

[2021-02-25 00:41] raunakkumar commented on #247
Looks like the symlink you created doesn't help much as we still see access issues to create the mount points.
Additionally I don't see any iscsi targets being logged in or any logs pertaining to it. I do see some errors in syslog pertaining to device discovery but cannot pinpoint to the same volume. There could be multiple factors causing this issue
1. permission to create the directories
2. iscs

[2021-02-25 01:15] ArrowRaider commented on #247
If it just doesn't work on microk8s then that is fine. My symlink idea was just a quick and dirty hack. I wouldn't want to really use a version of kubernetes that isn't supported.

Thank you for looking into this. I started learning kubeadm deployment and have another vm half ready. I will try completing that install tomorrow, and I will test first with one node to avoid making it overly complicat

[2021-02-25 15:54] ArrowRaider commented on #247
I have deployed a single node Kubernetes cluster using kubeadm.  The Nimble PVC is mounts successfully as a volume in a container now.  I am going to go ahead and close this and just not use microk8s for this environment.

[2021-02-25 15:54] #247 closed

[2021-02-26 06:58] wdurairaj commented on #209
actually there are 3 issues around k8s slow provisioning as documented here

https://github.com/kubernetes/kubernetes/issues/86281
https://github.com/kubernetes/kubernetes/issues/84169
https://github.com/kubernetes/kubernetes/pull/91307

[2021-03-24 11:40] manchikantisaiprasad opened #250 "it would be good to display the driver / container versions versions in the logs when are getting initialized."
As of now csinode,csicontroller,csp pods log files does not show the version they are running on .
it will be really helpful to display their respective versions in logs when are getting initialized (started).
Example of current logging :
time="2021-03-19T19:50:48Z" level=info msg="Initialized logging." alsoLogToStderr=true logFileLocation=/var/log/hpe-csi-node.log logLevel=trace
time="2021-03-19T

[2021-05-10 08:49] krakazyabra opened #269 "disconnecting iscsi volume can break other volumes connections"
If there are more than one volume on one node, there is quite a good chance that when one of them is dissconnected (e.g. pod is removed), it will disconnect iscsi sessions used by other volumes. The result is disconected / read-only / broken fs of other pods running on the same node.

Here is normal state - 4 iscsi connections, used by all volumes:
[code]

And here is the state after one of the po

[2021-05-11 01:59] datamattsson commented on #269
@sneharai4 can you have a look at this?

[2021-05-12 11:58] krakazyabra commented on #269
Created 2 simple pods with 3par pvc:

<details><summary>Pod</summary>
<p>

[code]

</p>
</details>

<details><summary>PVC</summary>
<p>

[code]

</p>
</details>

`multipath -ll` output:
[code]

Deleting one pod:
[code]

And `multipath -ll`
[code]

[2021-05-12 15:00] m4r1k opened #270 "UUID conflict on BL460 system"
Hello there,

While doing the integration of the CSI with C7000 and BL460 systems, the CSI literally generates the same UUID for all the blades. See the following logs
[code]

[code]

[code]

Because of this UUID conflict, then the CRD `hpenodeinfo` is populated as follows
 - only a single node reported
 - this node has the name of the first registered node
 - this node has the WWPNs of the last n

[2021-05-12 15:39] datamattsson commented on #270
@raunakkumar @rgcostea could you help @m4r1k ?

[2021-05-12 17:24] raunakkumar commented on #270
Hi @m4r1k The unique UUID is generated with a combination of hostname and mac address of the host.
https://github.com/hpe-storage/common-host-libs/blob/master/chapi/chapidriver_linux.go#L76-L82
The UUID would be same if the hostname and the mac addresses are same. Could you get us output of `hostname` and `ip addr` of any two conflicting blades.
Also, does the hosts have persistent /etc/ root part

[2021-05-13 09:06] krakazyabra commented on #269
Also I collected verbose logs before, in the moment, and after issue:
<details><summary>Before</summary>
<p>

[code]
</p>
</details>

<details><summary>Creating resources</summary>
<p>

[code]
</p>
</details>

<details><summary>After deleting</summary>
<p>

[code]
</p>
</details>

[2021-05-14 07:15] m4r1k commented on #270
Hey everybody,

Hostnames are different (see below output), and the same goes for the IP Address with an exception. These blades all have an Ethernet USB device connected with the same IP Address.

Pay attention to the `enp1s0f4u4`

Host VH039
[code]
Host VH040
[code]

On the details of `enp1s0f4u4`
[code]

So I removed this device (being a USB `rmmod cdc_eem` works), delete the file `/etc/hpe-sto

[2021-05-14 07:26] m4r1k commented on #270
Previous output of the network stack is when the system is just started without any pod running. See below for when the OCP cluster fully up and running

Host VH039
[code]

Host VH040
[code]

HTH to further nail down the UUID conflict.
Thanks!

[2021-05-14 19:35] raunakkumar commented on #270
Thanks for the details. It is still baffling to see 2 nodes with 2 different hostnames and mac address would yield same uuid.
Could you please share the log snippet from both nodes just after writing uuid to file. It begins with `Host name reported as`
and ends with `"Adding node with name` with the networks in between.

[2021-05-18 08:29] m4r1k commented on #270
Apologies for the late answer. Here we go with the full logs of `hpe-csi-node`

vh039
[code]

vh040
[code]

[2021-05-18 15:28] c-snell commented on #269
@krakazyabra - I am unable to recreate this issue on CentOS and Kubernetes 1.19. I am using the HPE CSI Driver 1.4.0.
Can you give me some more detail on the Kubernetes version?
Host OS?
What does your 3PAR multipath.conf look like?

[2021-05-18 16:11] krakazyabra commented on #269
Hello.
<details><summary>multipath.conf on node</summary>
<p>

[code]
</p>
</details>

we're using kubernetes v1.20.5, OS is Ubuntu 20.04.1 LTS
Also we use [hpe-linux-config](https://github.com/hpe-storage/co-deployments/blob/master/helm/charts/hpe-csi-driver/files/config.json)

<details><summary>config.json</summary>
<p>

[code]
</p>
</details>

<details><summary>3par-primera-csp.yaml</summary>
<

[2021-05-18 21:46] c-snell commented on #269
@sneharai4 @raunakkumar This appears to be isolated to how the 3PAR CSP handles volumes with Kubernetes running on Ubuntu nodes. My initial tests were using CentOS nodes and I was unable to recreate the issue. 3PAR/Primera multipathing is part of the multipath driver shipping with RHEL/CentOS.

Upon creating a new cluster using Ubuntu 20.04 with kubeadm 1.20.4 to match customer scenario, I was abl

[2021-05-18 22:27] raunakkumar commented on #270
Thanks @m4r1k for the logs. We were able to reproduce the issue internally with the above data. Since we pick the first sorted mac address, we pick up the mac address which is common to both the host.
[code]
 Our current mechanism doesn't guarantee uniqueness across 32 characters. We will address this in the next release by using md5 hash instead.  Below is one such example with current and the up

[2021-05-19 06:33] m4r1k commented on #270
Hey @raunakkumar thanks for finding the root issue and already proposing a PR

Is there any test build I could run in my platform to verify that indeed the new approach works as expected?

Thanks!

[2021-05-19 16:56] datamattsson commented on #270
#272 merges the changes in the dependent library that generates the UUID, this will be a non-issue beyond version 1.4.x

The workaround, if duplicates MAC addresses are being picked up, is to use hostname uniqueness in the first 10 characters of the hostname.

[2021-05-19 16:56] #270 closed

[2021-05-24 06:55] sneharai4 commented on #269
@krakazyabra Ubuntu OS is not supported by 3PAR/Primera. Please check the support matrix here, https://scod.hpedev.io/container_storage_provider/hpe_3par_primera/index.html#platform_requirements

[2021-05-24 08:47] krakazyabra opened #273 "Run fsck before mounting volume"
This is not an issue, but feature request.
Can you add fsck check before mounting 3par volumes? The same way does [Linstor with its drbd volumes](https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/staging/src/k8s.io/mount-utils/mount_linux.go#L338-L357). For this Linstor uses [default k8s library](https://github.com/piraeusdatastore/linstor-csi/blob/8653ba34fef2

[2021-05-24 18:39] c-snell commented on #269
@krakazyabra The issue is our conformance checks haven't applied the proper **/etc/multipath.conf** settings for Ubuntu and 3PAR. To work around this, you can manually configure the **/etc/multipath.conf** with the correct settings per
[HPE 3PAR Ubuntu Operating System Implementation Guide](https://support.hpe.com/hpesc/public/docDisplay?docId=c03961337&docLocale=en_US). Reboot the nodes and it sh

[2021-05-25 14:18] krakazyabra commented on #269
Hello @c-snell
Thanks for this workaround. I've added it to my multipath.conf, `multipath -t` now shows me this additions as well.
But problem still exists, when I'm deleting a pod, second exported pvc also disappearing.

<details><summary>multipath -t</summary>
<p>

[code]

</p>
</details>

[2021-05-25 16:54] c-snell commented on #269
@krakazyabra Hmm, I am not experiencing the volume disconnects after changing the `/etc/multipath.conf`. I have a similar output to your `multipath -t`.

Can you share a copy of the updated `multipath.conf`? Did you reboot your nodes after updating the `/etc/multipath.conf`?

Also have you opened a support case for this?

| HPE Alletra 9000, Primera and 3PAR Hardware Contract Type | Phone Number |

[2021-05-26 11:43] krakazyabra commented on #269
Hello, @c-snell
multipath.conf
[code]
No, I didn't make restart, only reload multipathd daemon. We're using pxe boot for all our servers, so this config should be included into our global pxe image. And this is not so fast)

[2021-06-14 08:21] krakazyabra commented on #273
Hi! Is there any news about this feature?

[2021-06-14 12:53] krakazyabra commented on #269
Can confirm: after updating base PXE image and including multipath config there, problem still presents, even after reboot.

[2021-06-14 16:40] raunakkumar commented on #273
Hi @krakazyabra Thanks for the request and the PR. This looks to be a valid concern. At the moment we are working on releasing the CSI Driver (2.0). We will add this to enhancement request for the next release 2.1.

[2021-06-18 12:03] krakazyabra commented on #269
Hi! I've updated to 2.0.0 release. I was using same pods and pvc.
Here are `multipath -ll -v 2` reports.

Create 2 pods with pvc:
[code]

Delete pod my-pod-1:
[code]

This is much better! At least, not all connections were unexport.

Create pod my-pod-1 back:
[code]

And now delete my-pod-2
[code]

I cannot say, that it's working perfect, because several times I saw, that all connections were unex

[2021-06-18 17:53] c-snell commented on #269
@krakazyabra - Glad to hear it is working better. There have been a number of improvements done on the driver with regards to 3PAR/Primera. As of now the engineering team has not validated the HPE CSI Driver on Ubuntu nodes using HPE Alletra 9000, Primera, or 3PAR storage due to limited support of Ubuntu by the storage arrays. Here is the current support matrix: [Platform Requirements](https://sco

[2021-06-25 14:54] krakazyabra commented on #269
I've made one more test, more complicated. We have another 3par (the same model). So, we connected it and deployed new storageClass, using the same csi-driver (just few new yamls)

replication.yaml
[code]

secrets.yaml
[code]

storage_class.yaml
[code]
And created 2 pods. my-pod-1 has pvc from storageClass `3par`, but second pod now has pvc from `3par02` storageClass.
Then I deleted one pod, as us

[2021-06-30 13:33] nicman68 opened #284 "NFS Server Provisioner deployment fails"
Have created a new nfs StorageClass.

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: hpe-nfs-mtc
provisioner: csi.hpe.com
parameters:
  csi.storage.k8s.io/controller-expand-secret-name: mtc-3par-02-secret
  csi.storage.k8s.io/controller-expand-secret-namespace: hpe-storage
  csi.storage.k8s.io/controller-publish-secret-name: mtc-3par-02-secret
  csi.storage.k8s.io/controller-pu

[2021-06-30 16:21] datamattsson commented on #284
It seems you're missing some RBAC components on your Kubernetes cluster to provision the necessary resources for the NFS Deployment.

- What version of Kubernetes and what platform? (i.e OpenShift or upstream vanilla Kubernetes etc)
- How did you install the driver? YAML, Operator or Helm chart?
- What is the host OS on your worker nodes?

[2021-06-30 16:42] nicman68 commented on #284
Hi Michael,

We are running Mirantis Docker EE.
Latest version with kubernetes 1.20.

I installed the driver with "Advanced install"

Worker nodes run ubuntu 18.04 except one which run centos 7.8

/Nicola

Den ons 30 juni 2021 18:22Michael Mattsson ***@***.***> skrev:

[2021-06-30 17:22] datamattsson commented on #284
Thanks! MKE has a custom admission controller that I suspect is blocking the `Pod` to start. Since the error message is emitted from the Kubernetes control-plane, yet that message is nowhere to be found in the Kubernetes sources, this is a MKE generated error message in their closed source.

- https://docs.mirantis.com/mke/3.4/ref-arch/admission-controllers.html

There are some examples available

[2021-07-07 09:22] krakazyabra commented on #269
it seems we're using Groups Scoped Targets, but driver thinks that we're using Volume Scoped Targets.

![image](https://user-images.githubusercontent.com/26598203/124732562-99a48200-df13-11eb-8215-ecaaa0d31261.png)
source: https://newman.cloud/en/2019/05/28/sync-replication-and-peer-persistence-setup-hpe-nimble/

@kvaps tried to improve driver's logic and we found, that with [this changes](https:/

[2021-07-16 00:02] nicman68 commented on #284
Hi Michael,

Do you know which (cluster)rolebindings and (cluster)roles  are used when
creating the NFS deployment in hpe-nfs namespace.

/Nicola

Den ons 30 juni 2021 kl 19:22 skrev Michael Mattsson <
***@***.***>:

--
Med vänliga hälsningar,
Nicola Maniette

_________________________________________________________
Conoa AB | Tegnérgatan 35 | 111 61 Stockholm | M: 0765-557355 | T: 08-32 77
00 |

[2021-07-16 00:31] datamattsson commented on #284
The `ClusterRole` is "hpe-csi-provisioner-role", the `ClusterRoleBinding` is "hpe-csi-provisioner-binding" and the `Pod` runs with the `ServiceAccount` name of "hpe-csi-nfs-sa". However, the `Deployment` is created by the `ServiceAccount` "hpe-csi-controller-sa".

[2021-07-16 14:26] nicman68 commented on #284
Hi Michael,

hpe-csi-controller-sa can create a deployment in  hpe-nfs

kubectl auth can-i create deployment --namespace hpe-nfs --as
system:serviceaccount:hpe-storage:hpe-csi-controller-sa
yes

Have also added privileged podsecuritypolicies.  Same error

kubectl  describe clusterrole hpe-csi-provisioner-role
Name:         hpe-csi-provisioner-role
Labels:       <none>
Annotations:  <none>
PolicyRu

[2021-07-16 17:38] datamattsson commented on #284
It's [privileged](https://github.com/hpe-storage/csi-driver/blob/bf412693162ee9843d88a86e1e31458583d160e2/pkg/flavor/kubernetes/nfs.go#L827).

[2021-08-25 15:56] paka86 commented on #269
@c-snell I am having exactly same issue on OpenShift 4.6 with v2.0.0 plugin version for 3Par so I don't think the problem is limited to Ubuntu only.
I run multiple tests and often all iscsi sessions gets terminated once the PV is getting unmounted.

[2021-09-09 13:17] alexbarta opened #286 "Csi primera "is already mounted error""
Hi,

We are having issues running hpe-csi-driver for primera with FC and multipath enabled.
We are running a kubernetes cluster v1.20.2 on a baremetal infra and we are trying to create volumes on a Primera FC storage version 4.3.x
We have followed csi driver 2.0.0 deployment guide https://scod.hpedev.io/csi_driver/deployment.html and we chose helm as installation method. Currently the driver is ab

[2021-09-16 16:46] datamattsson commented on #286
Hi, I apologize the late response. Could you redeploy the chart with the `--set kubeletRootDir=/var/lib/docker/kubelet` parameter passed to `helm` and see if it works?

[2021-09-16 17:11] DiegoDelgadoMex commented on #286
This did the trick! I got the pvc mounted to the Pods now!

Thanks!

[2021-09-16 22:18] datamattsson commented on #286
Thanks for verifying @DiegoDelgadoMex! @alexbarta do you mind checking your CSI driver installation as well so we can close?

[2021-09-17 14:21] snowch opened #288 "Error response from daemon: unauthorized: access to the requested resource is not authorized"
It seems the nfs-provisioner in quay is not publically accessible?

[code]
Just to verify my docker is setup ok:

[code]

[2021-09-17 17:31] datamattsson commented on #288
Hi Chris, we have not migrated that image to Quay just yet, it's still in docker.io.

[code]

[2021-09-17 20:00] alexbarta commented on #286
Thanks @datamattsson it works! Now it's clear what caused the issue. I think you may close this one.

[2021-09-22 09:06] alexbarta opened #289 "Create clone from snapshot or clone from pvc fails "Body length 0" error"
Hi all,

I am using hpe csi driver 2.0.0 w/ Primera FC and w/ k8s 1.20.2
After enabling CSI snapshot
[code]
and creating volumesnapshot class
[code]
I am able to create volume snapshot correctly
[code]
but a create a pvc from snap or pvc from pvc
[code]
I get this error

[code]
Sounds like the driver's waiting for somebody else to create an empty destination volume?

[2021-09-23 16:38] datamattsson commented on #289
I think you need to check the logs of the CSP to see what errors out. @sneharai4 @bhagyashree-sarawate @pavansshanbhag are you able to assist here?

[2021-09-24 07:01] ondrejlinha commented on #269
@c-snell We're facing exactly the same issue as @paka86 & @krakazyabra

OpenShift 4.6.44 / HPE CSI Driver 1.4.0

[2021-09-24 07:38] alexbarta commented on #289
I have checked the csi controller logs but I didn't find anything interesting:
[code]
any other log that may be worth checking?

[2021-09-24 09:02] krakazyabra commented on #269
@paka86 @ondrejlinha try this version of driver (hpe-csi-driver):
```docker pull ghcr.io/kvaps/hpestorage-csi-driver@sha256:c416404f6b3069edf1a409a1f637a43cf1a267c14866cc9173a784134cd37cb2```

It has [this](https://github.com/kvaps/common-host-libs/commit/43c1e86a141f0e9adbb3ca59b3bfa93141dae60a) changes. For us it completelly resolved all problems

[2021-09-24 13:41] alexbarta commented on #289
we found out why: "cpg" parameter was missing in our storage class configuration, actually the driver didn't know where to place the new volume. I think you can close this one.

[2021-09-29 15:59] datamattsson commented on #269
@krakazyabra this has been fixed in this [commit](https://github.com/hpe-storage/common-host-libs/commit/7563f6b44c8d50a5745a125a13aef812424a4d9d).

[2021-11-05 14:52] nicman68 opened #291 "NFS Server Provisioner - Volume Expansion"
Hi

I wonder how to extend RWX/ROX PVC.
I have no problem to extend a standard RWO PVC.

 I have changed the storage request from 10GB to 12GB and applied the pvc-yaml

Got following errors in csi-resizer_hpe-csi-controller

I1105 14:12:14.576894       1 controller.go:224] Started PVC processing "default/my-rwx-pvc"
I1105 14:12:14.589511       1 event.go:281] Event(v1.ObjectReference{Kind:"Persist

[2021-12-20 14:34] jellehelsen opened #295 "NFS provisioning fails when PVC was created by an operator"
When a PVC is created by an operator (and thus has a metadata.ownerReferences field) with a storageClass that has nfsResources set to "true" the provision of the nfs volume fails. This results in the original PVC staying in the 'Pending' state.

This only happens when nfsResources is set to "true".

StorageClass:
[code]

PersistentVolumeClaim:
[code]
[csi-provisioner.log](https://github.com/hpe-st

[2021-12-20 16:38] datamattsson commented on #295
What version of Kubernetes is this? I ran into this on Kubernetes 1.23, which the HPE CSI Driver doesn't support yet.

[2021-12-20 16:59] jellehelsen commented on #295
Kubernetes v1.21.4-gke.201

[2021-12-20 21:02] datamattsson commented on #295
Ok thanks for the info. We've reproduced this in our environment and currently investigating what is going on.

[2021-12-20 23:52] datamattsson commented on #295
We've tracked this down to "[Cross-namespace owner references is disallowed by design.](https://github.com/kubernetes/website/pull/12543/files)", you should see this event being emitted in the "hpe-nfs" `Namespace` on your cluster:

[code]

NFS servers, backing `PersistentVolumeClaims` and all the associated configuration are being setup in the "hpe-nfs" `Namespace` by default.

That said, we have

[2021-12-21 09:17] jellehelsen commented on #295
Thanks for that quick workaround @datamattsson !

Since this only happens when there is an owner reference set on the original PVC I can only conclude that the NFS PVC gets the owner reference copied from the original PVC. IMHO it would be better if the owner reference of the NFS PVC should point to the original PVC and always be present, or never be present at all. And if an owner reference is us

[2021-12-21 18:05] datamattsson commented on #295
Thanks for verifying. There are multiple ways this can play out. The origin PVC `ownerReference` should not be copied to the NFS PVC in the first place, the fact that we're using a different PVC to serve the origin PVC is an implementation detail that shouldn't be anyone's concern in the first place. I'm not too familiar with the implementation details but I'm assuming we're simply copying the ori

[2022-03-09 11:22] stranljip opened #308 "CSI driver fails to reauthenticate/refresh the authentication after the session times out"
### Setup
- Nimble HF40 with 6.0.0.300-956221-opt
- Rancher RKE cluster with K8s v1.20.15
- HPE CSI driver 2.1.0 deployed with Helm

### Description of the Problem
After the initial deployment of the CSI driver, everything works as expected, new volumes can be created and used. After a time of inactivity exceeding the value set in the NimbleUI (Administration -> Security -> Inactivity timeout) it

[2022-03-10 20:52] stranljip commented on #308
On the clusters where the CSI driver failed to allow creating new PVs after the expiration time of the token, port 5392 of the storage was not open. It might be that this port needs to be open in order to allow refreshing the token/trigger a relogin although I could not find anything in the docs about that. After opening the port it seems that refreshing the token works.

[2022-03-10 23:21] datamattsson commented on #308
@stranljip thanks for confirming. We are investigating if this is a bug or accidental feature.

[2022-03-11 08:28] stranljip commented on #308
After opening port 5392 for all clusters to the storage the driver works as expected. I would prefer if all communication goes through port 443 in future versions of Nimble OS, but at least the required ports should be documented clearly in SCOD.

[2022-04-11 12:53] krakazyabra opened #312 "Shorter names for VV for 3par"
Hi all!

In 3par there is limitation to amount of characters in VV name, 31 symbol.

![image](https://user-images.githubusercontent.com/26598203/162742823-5f655215-db3b-4468-a33c-cbf55a9e8b6b.png)
from "HP 3PAR Command Line Interface Reference"

Using all 31 symbol in VV by driver makes it impossible to create snapshots, cos they need different name. Most popular pattern for snapshots is `@vvname@

[2022-06-21 09:44] nilic opened #316 "OpenShift 4.10 certification"
Hi, when can we expect OpenShift 4.10 certification?

CSI driver version 2.1.1 supports Kubernetes 1.23 which is included in OpenShift 4.10 but the [OpenShift SCOD page](https://scod.hpedev.io/partners/redhat_openshift/index.html#certified_combinations) still doesn't include OCP 4.10 although it was released in March.

[2022-06-24 09:06] ondrejlinha opened #317 "Unbounded PVCs on OpenShift v4.6.58 / v2.1.3"
After upgrading the driver to version v2.1.3 on OpenShift v4.6.58 it is no longer possible to bound PVCs from the volumesnapshots:

`
E0624 08:53:57.887054       1 controller.go:957] error syncing claim "1038e006-977b-44f5-9be9-7930bd1ce984": failed to provision volume with StorageClass "block": error getting handle for DataSource Type VolumeSnapshot by Name backup.202206240651: error getting snap

[2022-06-24 20:13] datamattsson commented on #317
@ondrejlinha which storage backend are you using? I don't think it matters in this case as there might've been an CSI Snapshot API version change between 2.0.0 to 2.1.3 that makes old snapshots unusable.

[2022-07-07 16:41] unknownsolo commented on #316
Wondering about this as well!

[2022-07-07 16:47] unknownsolo opened #319 "OpenShift not seeing latest driver version"
Hello, my OpenShift instance shows version 2.1.0 as the latest and is not detecting 2.1.1. Is there anything I need to do to update to 2.1.1?

![Screen Shot 2022-07-07 at 9 47 11 AM](https://user-images.githubusercontent.com/86228066/177827329-18af4118-109e-42b5-9073-5a8f6679fffe.png)

[2022-07-08 18:38] datamattsson commented on #316
We are currently working on OpenShift 4.10, it will be part of the next release of the CSI driver.

[2022-07-08 18:39] datamattsson commented on #319
Maybe your subscription to OperatorHub isn't updating. I just confirmed 2.1.3 is visible in my 4.8 cluster.

[2022-07-08 18:41] datamattsson commented on #312
Create the snapshots from Kubernetes and you won't have this problem. It's not recommended to create manual snapshots on the array in this situation.

[2022-07-08 18:55] unknownsolo commented on #319
Is it supposed to show automatically, or do I need to uninstall/reinstall/manual upgrade?

[2022-07-26 21:33] unknownsolo commented on #316
Do you have an ETA by any chance? This is the only thing blocking us from upgrading to OpenShift 4.10

[2022-07-27 00:20] datamattsson commented on #316
In the next few weeks.

[2022-08-01 23:25] unknownsolo opened #322 "OpenShift - error validating existing CRs against new CRD's schema"
hello,

We had HPE CSI Driver 2.1.0 installed and we were showing an update for 2.2.0 in the Installed Operators page, after clicking update, I am seeing this error:

"error validating existing CRs against new CRD's schema for "hpecsidrivers.storage.hpe.com": error validating custom resource against new schema for HPECSIDriver hpe-csi-driver/csi-driver: [[].spec.csp: Required value, [].spec.contro

[2022-08-02 11:18] pavansshanbhag commented on #322
Hi,

It looks like the older operator exists and there is an attempt to install a newer version. Can you tell us how did you upgrade the operator ?

[2022-08-02 12:18] pavansshanbhag commented on #322
The upgrade requires you to follow the instructions at the Scod Page :
https://scod.hpedev.io/partners/redhat_openshift/index.html#upgrading

After all "uninstall" steps in the instructions are completed and before installing the new operator, there is one additional step (not yet mentioned in scod) that you would need to do.
`oc delete crd hpecsidrivers.storage.hpe.com`

After this, you can proce

[2022-08-02 18:49] unknownsolo commented on #322
Through the GUI in the Operators page, I simply clicked the upgrade button and got the errors above. The old operator is still there, I now have the old and the new one and both are errored out, but no impact to PVCs.

I can go ahead and uninstall the operator to solve this issue, but just to clarify, does that not impact my current running PODs with persistent storage accounts through this operat

[2022-08-03 17:38] unknownsolo commented on #322
Just wanted to verify if uninstalling the operator is going to have any impact on my currently running pods.

[2022-08-03 19:55] datamattsson commented on #322
No. `PVs`, `PVCs` and `StorageClasses` remain unaffected while uninstalling and deleting the `HPECSIDriver` resources and Operator. In-flight CSI operations and new requests will be retried once the new CSI driver is instantiated.

[2022-08-03 20:12] unknownsolo commented on #322
Thank you so much for the confirmation! One last question, how can I successfully get rid of HPECSIDriver? The contenxt menu in the GUI is grayed out

![Screen Shot 2022-08-03 at 1 11 34 PM](https://user-images.githubusercontent.com/86228066/182700159-186115b3-c401-421b-b93e-ca21623bf7c1.png)

[2022-08-03 21:36] unknownsolo commented on #322
I could really use some help here! This "simple" upgrade process is slowly turning into a nightmare! I tried reaching out to Red Hat too and they said to reach out to you.

I am not sure how to get rid of HPECSIDriver before uninstalling the operator! Everything is grayed out. The only thing I can do is to uninstall the operator itself.

![Uploading Screen Shot 2022-08-03 at 2.32.27 PM.png…]()

![

[2022-08-03 23:40] unknownsolo commented on #322
I finally got it! (What's a few heart attacks here and there?)

The HPECSIDriver CRD was not properly terminating so when I uninstalled the operator and installed again, the same HPECSIDriver was present. I manually removed the finalizers from HPECSIDriver and then it was deleted, uninstalled the operator, installed the operator again, created a new HPECSIDrive instance and everything worked! All

[2022-08-03 23:50] datamattsson commented on #322
I apologize you had to go through this. We have not officially shipped yet and we have documentation that more clearly outlines the steps to "upgrade". It will be published next week and the page you're bookmarking is this one: https://scod.hpedev.io/partners/redhat_openshift/index.html

[2022-08-04 20:01] unknownsolo commented on #322
I am just glad it's working now!

Honestly, the upgrade documentation could use some clarification. Maybe a note indicating that it is OK to "remove the driver and uninstall the operator, it will not impact any running pods with persistent storage. Clarify what is OK to be deleted and what is not! I identify all the important resources and how to get to them.

When I had a chat with Red Hat, they

[2022-09-13 22:38] germanovm opened #323 "HPE Nimble not usable with OpenShift Virtualization"
The HPE CSI driver does not work as expected in ReadWriteMany mode using a raw block device.

During a VM live migration, the following happens.

1. VM is running in pod PA on node A
2. Live migration starts
3. pod PB is started on node B
4. VM memory/state is copied to PB on node B
5. PA shuts down, PB resumes the VM

The VM disk is a volume that is attached to 2 pods (source migration and destin

[2022-09-14 05:07] datamattsson commented on #323
The team is aware of this issue and what happens is that the CSI Unpublish call revokes access to all initiators when it should only revoke access to the source initiator and not offline the volume. The RWX volumeMode: Block PVC should not have been provisioned in the first place as this has not been tested.

I'll update this thread if I hear about a potential bugfix in a future release.